@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* 메인 컬러 - Black */
  --color-black-50: #eef1f4;
  --color-black-100: #e2e6ec;
  --color-black-200: #ced4db;
  --color-black-500: #2f3740;
  --color-black-600: #242a30;
  --color-black-700: #1f2429;
  --color-black-800: #0d1013;
  --color-black-900: #0d1013;
  --color-black-950: #080a0c;
  --color-black-darker: #000000;

  /* 메인 컬러 - White */
  --color-white-50: #ffffff;
  --color-white-100: #f3f4f6;
  --color-white-200: #e5e7eb;
  --color-white-500: #ffffff;
  --color-white-600: #f3f4f6;
  --color-white-700: #e5e7eb;
  --color-white-800: #dbdddf;
  --color-white-900: #cacbcd;
  --color-white-950: #b8b9bb;
  --color-white-darker: #a6a7a9;

  /* 포인트 컬러 - Red */
  --color-red-50: #fceeee;
  --color-red-100: #fae1e1;
  --color-red-200: #f8d3d3;
  --color-red-500: #eb3434;
  --color-red-600: #de2f2f;
  --color-red-700: #cc2c2c;
  --color-red-800: #8f0f0f;
  --color-red-900: #820d0d;
  --color-red-950: #740c0c;
  --color-red-darker: #660a0a;

  /* 포인트 컬러 - Green */
  --color-green-50: #edfaf2;
  --color-green-100: #e0f5e7;
  --color-green-200: #d3f0dd;
  --color-green-500: #2dd75a;
  --color-green-600: #29c652;
  --color-green-700: #26b64b;
  --color-green-800: #0d7a2c;
  --color-green-900: #0c6f27;
  --color-green-950: #0a6423;
  --color-green-darker: #09591e;

  /* 포인트 컬러 - Blue */
  --color-blue-50: #eef4fc;
  --color-blue-100: #e0ebf8;
  --color-blue-200: #d3e2f4;
  --color-blue-500: #337bf3;
  --color-blue-600: #2f71de;
  --color-blue-700: #2b68ca;
  --color-blue-800: #0e3c8b;
  --color-blue-900: #0d367e;
  --color-blue-950: #0b3072;
  --color-blue-darker: #0a2b66;
}
